<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Eileen & TT</title>
  <meta name="author" content="TT">
  <!--<link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico">-->
  <!--<link rel="icon" href="http://static.tmimgcdn.com/img/favicon.ico">-->
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap-glyphicons.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/styles.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
</head>

<body>
<script type="text/javascript">
  window.onload=function () {
      window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxed1a36ce3fa969f5&redirect_uri=http%3A//api.duanyong.wang/wx/userinfo.html&response_tyep=code&scope=snsapi_userinfo&state=1#wechat_redirect";
//      window.location.href = "http://www.baidu.com";
  }
</script>
<div class="container">
  <header class="page-header">
    <h1>终究会成永恒1</h1>
  </header>
  
  <ul class="timeline">
    <li><div class="tldate">2016年2月</div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>第一次两个人单独吃饭</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2月12日</small></p>
        </div>
        <div class="tl-body">
          <p>第一次一起去看电影--《美人鱼》</p>
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h3>去看了电影</h3>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2月13日</small></p>
        </div>
        <div class="tl-body">
          <p>看电影...</p>
            
          <p>《三打白骨精》</p>
        </div>
      </div>
    </li>
  </ul>
  <form>
    <input type="text" >
    <button>提交</button>
  </form>
</div>

</body>
</html>