<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Eileen & TT</title>
  <meta name="author" content="TT">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap-glyphicons.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/styles.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
</head>

<body>
<div class="container">
  <header class="page-header">
    <h1>从开始到现在</h1>
  </header>
  
  <ul class="timeline">
    <li><div class="tldate"><h1>2016年2月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>和某人的第一次约会</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2月12日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/2-13-1.JPG" alt="合影" class="img-responsive img-rounded">
          <p>某人和你原本只是两条平行线，不经意间的一个朋友圈，约定了今天的晚餐</p>
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>收到了莫名其妙的巧克力</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2月15日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/2-15-5.JPG" alt="" class="img-responsive">
          <p>迟到的礼物，某人非常抱歉，但聪明的你还是很快猜到了！</p>
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>蹲在路边等某人</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2月20日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/2-20.JPG" alt="" class="img-responsive img-rounded">
          <p>2月的上海，还是</p>
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>这是在刻意把某人拍上镜么？</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2月23日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/2-23-1.JPG" alt="为什么自拍还有我？" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年3月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>一个美丽的姑娘</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>3月1日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/3-1-1.JPG" alt="为什么自拍还有我？" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>今天是土豪的生日！！！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>3月17日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/3-17-1.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>那天你陪着某人走了好远好远的路！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>3月20日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/3-20-1.JPG" alt="居然偷拍我" class="img-responsive">
          <p>地铁下错站，某人害你走了好远的路，在路上你一直问某人：你不会生气么？什么事可以让你生气</p>
        </div>
      </div>
    </li>
    
    <li  class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>特意为某人定了蛋糕！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>3月23日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/3-23.JPG" alt="" class="img-responsive img-rounded">
          <p></p>
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>怎么会有人送花？</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>3月20日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/3-25.JPG" alt="居然偷拍我" class="img-responsive">
          <p>抢走了某人的手机，一下就发现了买花的订单</p>
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人去看了电影</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>3月27日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/3-27.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年4月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>给了某人一个难忘的愚人节！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>4月1日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/4-1.JPG" alt="" class="img-responsive img-rounded">
          <p>当看到你下车的那一刻，某人在心里做了一个决定，这个姑娘从今天起，就是我的了。哈哈哈！</p>
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人去打台球</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>4月3日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/4-3.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>被某人放了鸽子</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>4月11日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/4-11-1.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>给某人拍的照片1</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>4月14日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/4-14-5.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>给某人拍的照片2</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>4月15日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/4-15-5.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年5月</h1></div></li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>执子之手，与子偕老</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>5月3日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/5-3.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>某人觉得今天很有意义</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>5月15日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/5-15.JPG" alt="给我开门" class="img-responsive img-rounded">
          <p>今天不仅仅是看了电影，最重要的是你给我发的那4条微信！</p>
        </div>
      </div>
    </li>
    
    <li  class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>你和照片里的🐷简直一模一样</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>5月17日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/5-17.JPG" alt="" class="img-responsive img-rounded">
          <p></p>
        </div>
      </div>
    </li>
        
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>咋就这么爱臭美呢！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>5月18日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/5-18-1.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
        
    <li><div class="tldate"><h1>2016年6月</h1></div></li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>坚持和某人一起跑步</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>6月18日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/6-18.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>翻给某人的白眼！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>6月26日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/6-26.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人去吃火锅</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>6月30日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/6-30-1.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年7月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人去了迪士尼</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>7月15日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/7-15-1.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>居然在玩💩！！！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>7月21日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/7-21-5.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年9月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人一起去攀岩</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>9月11日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/9-11-1.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>咦？今天这是肿么了？</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>9月19日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/9-19-1.JPG" alt="" class="img-responsive">
          <p>某人准备了很多话要说，可是，却怎么也说不出口。</p>
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年10月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人去了常州！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>10月15日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/10-15-4.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>今天，和某人之间，又多了一个小宝贝！</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>10月18日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/10-18-1.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年11月</h1></div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>和某人好久没有去逛街了</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>11月27日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/11-27-1.JPG" alt="" class="img-responsive img-rounded">
        </div>
      </div>
    </li>
    
    <li><div class="tldate"><h1>2016年12月</h1></div></li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h2>陪某人去看海贼王的展览</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>12月17日</small></p>
        </div>
        <div class="tl-body">
          <img src="/static/img/12-17-1.JPG" alt="" class="img-responsive">
        </div>
      </div>
    </li>
    
  </ul>
  <p></p>
</div>

</body>
</html>